.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}
.fighter-preview___left, .fighter-preview___right {
  position: relative;
}

.fighter-preview___info {
  font-size: 20px;
  font-weight: 900;
  position: absolute;
  color: beige;
  left: -6px;
  bottom: -90px;
  list-style: none;
}
